@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?sccgv2');
  src:  url('../fonts/icomoon.eot?sccgv2#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?sccgv2') format('truetype'),
    url('../fonts/icomoon.woff?sccgv2') format('woff'),
    url('../fonts/icomoon.svg?sccgv2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-lock:before {
  content: "\e912";
}
.icon-scholarship:before {
  content: "\e90f";
}
.icon-maintenance:before {
  content: "\e910";
}
.icon-link:before {
  content: "\e911";
}
.icon-search:before {
  content: "\e906";
}
.icon-question:before {
  content: "\e907";
}
.icon-mail:before {
  content: "\e908";
}
.icon-hours:before {
  content: "\e909";
}
.icon-right:before {
  content: "\e90b";
}
.icon-left:before {
  content: "\e90a";
}
.icon-instagram:before {
  content: "\e904";
}
.icon-envelope:before {
  content: "\e903";
}
.icon-twitter:before {
  content: "\e900";
}
.icon-linkedin:before {
  content: "\e901";
}
.icon-facebook:before {
  content: "\e902";
}
.icon-calendar:before {
  content: "\e90e";
}
.icon-comment:before {
  content: "\e90d";
}
.icon-search-icon:before {
  content: "\e90c";
}
.icon-google-plus:before {
  content: "\e905";
}
.icon-twitter:before {
  content: "\e900";
}
.icon-linkedin:before {
  content: "\e901";
}
.icon-facebook:before {
  content: "\e902";
}



body {
    font: 400 17px/27px 'Open Sans', sans-serif !important; color: #3c3c3c; letter-spacing: normal;min-width: 320px; position: relative; }
#wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
  -webkit-transition: all 0.25s linear;
-o-transition: all 0.25s linear;
transition: all 0.25s linear; 
}
.container {
  max-width: 1170px !important;
  padding: 0  15px;
}
.active,
.active:focus{ color: #02aeef !important; }

ol, ul { list-style: none; }
ul { margin: 0; padding: 0; }
ul li { margin: 0; font-size: 16px;}
blockquote, q {
  quotes: none;
}

label { font-size: 13px; font-weight: 600; color: #9fa4af;letter-spacing: 1px;}
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
p{ margin: 0 0 15px;}
table { border-collapse: collapse; border-spacing: 0; }
sup { font-size: 0.83em; line-height: 0; vertical-align: super;}
sub {font-size: 0.83em; line-height: 0; vertical-align: sub;}
b, strong{ font-weight: bold;}
i, em{ font-style: italic; }
figure{ margin: 0; }
img { display: block; max-width: 100%; height: auto; }
form{ margin: 0; }
a { color: #000; text-decoration: none; -webkit-transition: all 0.25s linear; -o-transition: all 0.25s linear; transition: all 0.25s linear; outline: none !important;}
a:hover,
a:focus { outline: none; color: #02aeef !important; text-decoration: none;}
button,
button:hover,
button:focus,
button:active,
.slick-slide,
.navbar,
.navbar-toggler:focus,
.navbar-toggler:hover {outline: none;}
/* CTA */
.btn {
  position: relative;
  z-index: 1;
  background-color: #02aeef;
  padding: 10px 20px;
  color: #fff;
  font: 600 15px/26px 'Open Sans', sans-serif !important;
  border-radius: 100px;
  letter-spacing: normal;
  display: inline-block;
  vertical-align: middle;
  transition: all .3s;
  min-width: 245px;
}
.btn:hover, .btn:focus, .btn:active {
  background: #000; color: #fff !important;
}
.btn:focus { box-shadow: none;}

::-moz-selection { color: #fff; background:#02aeef; }
::selection { color: #fff;background: #02aeef; }
textarea {resize: none; clear: both;min-height: 200px;max-height: 200px;height: 200px;}
input,
textarea,
select{ font-family: 'Open Sans', sans-serif !important; font-weight: 500; border: 1px solid #ddd;}
h1 { font-size: 22px; font-weight: 800; line-height: 32px; font-family: 'Open Sans', sans-serif !important; margin: 0 0 30px; color: #000; letter-spacing: 1.2px;}
h2 { font-size: 20px; font-weight: 800; line-height: 30px; font-family: 'Open Sans', sans-serif !important; margin: 0 0 30px; color: #000; letter-spacing: 1.2px;}
h3 { font-size: 18px; font-weight: 800; line-height: 28px; font-family: 'Open Sans', sans-serif !important; margin: 0 0 30px; color: #000; letter-spacing: 1.2px;}
h4 { font-size: 16px; font-weight: 600; line-height: 26px; font-family: 'Open Sans', sans-serif !important; margin: 0 0 30px; color: #000; letter-spacing: 1.2px;}
h5 { font-size: 100%; font-weight: 600; line-height: normal; font-family: 'Open Sans', sans-serif !important; margin: 0 0 30px; color: #000; }
h6 { font-size: 100%; font-weight: 600; line-height: normal; font-family: 'Open Sans', sans-serif !important; margin: 0 0 30px; color: #000; letter-spacing: 1.2px;}

/* Reset Media if needed */
@media(min-width: 767.98px){
  h1 {font-size: 30px; line-height: 40px;}
  h2 { font-size: 26px; line-height: 36px;}
  h3 { font-size: 22px; line-height: 32px;}
  h4 { font-size: 18px; line-height: 28px;}
}
@media(min-width: 991.98px){
  h1 {    font-size: 40px; line-height: 50px; margin-bottom: 35px;}
  h2 { font-size: 28px;}
  h3 { font-size: 24px;}
  h4 { font-size: 20px;}
}

body.nav-open .top {
  -webkit-transform: translateY(6px) rotateZ(45deg);
  -moz-transform: translateY(6px) rotateZ(45deg);
  -ms-transform: translateY(6px) rotateZ(45deg);
  -o-transform: translateY(6px) rotateZ(45deg);
  transform: translateY(6px) rotateZ(45deg);
}
body.nav-open .bottom {
  -webkit-transform: translateY(-6px) rotateZ(-45deg);
  -moz-transform: translateY(-6px) rotateZ(-45deg);
  -ms-transform: translateY(-6px) rotateZ(-45deg);
  -o-transform: translateY(-6px) rotateZ(-45deg);
  transform: translateY(-6px) rotateZ(-45deg);
}
body.nav-open #header .middle { width: 0;}
body.nav-open{ overflow: hidden; }

/* Header CSS */
#header.fixed {-webkit-box-shadow: 0px 1px 5px 0px rgba(119,121,117,.35); -moz-box-shadow: 0px 1px 5px 0px rgba(119,121,117,.35); box-shadow: 0px 1px 5px 0px rgba(119,121,117,.35);}
#header .header-block { padding: 15px 0; }
#header .navbar-collapse { -moz-transition: all 0.25s linear; -webkit-transition: all 0.25s linear; -o-transition: all 0.25s linear; transition: all 0.25s linear; display: block !important; background: #fff; position: fixed; width: 260px; right: -270px; padding: 10px; bottom: 0; top: 0; z-index: 9; -webkit-box-shadow: 1px 1px 7px 0 rgba(0, 0, 0, 0.5); -moz-box-shadow: 1px 1px 7px 0 rgba(0, 0, 0, 0.5); box-shadow: 1px 1px 7px 0 rgba(0, 0, 0, 0.5); }
body.nav-open #wrapper { width: 100%; float: right; position: relative; margin: 0 260px 0 0; }
#header .navbar-nav .nav-link { font: 400 14px/1 'Open Sans', sans-serif; transition: all 0.25s ease-in; color: #fff; background: #000; margin: 0 0 1px;padding: 10px; }
#header .navbar-nav .nav-link:hover,
#header .navbar-nav .nav-item.active .nav-link{background-color: #00adef !important; color: #fff !important;}
body.nav-open #header .navbar .navbar-collapse { right: 0;}
#header .logo {position: static; width: 188px;}
#header .navbar-toggler {border-radius: 0; width: 35px; border: 0; padding: 5px; display: block; cursor: pointer; float: right; background-color: #000; margin: 0; }
#header .navbar {right: 15px; width: 35px; height: 35px; padding: 0; position: absolute;}
#header .top-bar{ background: #5eb99a; padding: 7px 0; }
#header .top-bar p { font-size: 12px; line-height: 18px; color: #fff; margin: 0;}
#header {background: rgba(255,255,255,.35);border-bottom: 1px solid rgba(165,165,166,.35); color: #fff;z-index: 9999; -moz-transition: all 0.25s linear; -webkit-transition: all 0.25s linear; -o-transition: all 0.25s linear;transition: all 0.25s linear; }
#header.fixed{background: #fff !important;}
#header .bar { height: 3px; width: 100%; display: block; margin: 3px auto; background: #fff !important; border-radius: 0; -webkit-transition: all .7s ease; -moz-transition: all .7s ease; -ms-transition: all .7s ease; -o-transition: all .7s ease; transition: all .7s ease; }
#header .navbar-nav,
#header .navbar-nav .nav-item{ margin: 0; }

/* Media */
@media(min-width: 991.98px) {
  #header .navbar-nav .nav-item.active .nav-link{color: #1d74e0 !important;}
  #header.fixed {background: #fff !important; padding: 0;}
  #header .header-block{ padding-top: 12px; padding-bottom: 12px;}
  #header nav.navbar { height: auto; display: block;justify-content: center;align-items: center; position: static;width: 100%;padding: 0;}
  #header .top-bar p {font-size: 16px; line-height: 20px;}
  #header .navbar-collapse {position: static; background-color: transparent; box-shadow: none; width: 100%; padding: 0; }
  #header .navbar-nav .nav-link { border-radius: 0; font-size: 16px; line-height: normal; color: #000;}
  #header .navbar-nav .nav-link:hover,
  #header .navbar-nav .nav-item.active .nav-link{background: transparent !important; color: #02aeef !important;}
  #header .logo {width: 220px;-webkit-transition: all 0.5s; transition: all 0.5s;}
  #header .navbar-nav .nav-link {background-color: transparent; padding: 0;}
  #header .nav-item + .nav-item { margin-left: 40px; }
  .sticky { position: fixed; top: 0; left: 0;}
}


/* Visual/Banner CSS */
.visual-banner { position: relative; background-color: #fff; background-size: cover; background-repeat: no-repeat; background-position: center; padding: 100px 0 80px;}
.visual-banner:before{content: '';position: absolute;left: 0;right: 0;top: 50%;transform: translateY(-50%);background: url(../images/visual-fade.png) no-repeat;background-position: center;background-size: cover;width: 825px;height: 683px;margin: 0 auto;}
.visual-banner h1 {font-size: 30px; line-height: 45px; margin-bottom: 30px;}
.visual-banner h3 {font-weight: 700;}

/*Visual inner banner*/
.visual-banner.visual-inner-banner {padding: 80px 0 80px;}

/* Media */
@media (min-width: 767.98px) {
  .visual-banner.visual-inner-banner {padding-top: 100px; padding-bottom: 100px; }
  .visual-banner{ padding-top: 180px; padding-bottom: 180px; }
  .visual-banner h1 {font-size: 40px; line-height: 50px; margin-bottom: 30px;}
}
@media(min-width: 991.98px){
  .visual-banner{ padding-top: 220px; padding-bottom: 220px; }
  .visual-banner h1 {font-size: 50px; line-height: 65px;}
}
@media(min-width: 1199.98px){
  .visual-banner.visual-inner-banner {padding-top: 160px; padding-bottom: 80px; }
  .visual-banner.visual-inner-banner h1 {line-height: 60px; font-size: 55px}
  .visual-banner{ padding-top: 250px; padding-bottom: 250px; }
  .visual-banner h1 {font-size: 52px;line-height: 66px;}
  .visual-banner h3 {font-size: 22px;margin-bottom: 40px;}
}




/* Slick Slider CSS */
.slick-arrow { font-size: 0; z-index: 1; position: absolute; top: 50%; transform: translateY(-50%); background: transparent; border: none; }
.slick-prev{ left: 10px; }
.slick-next{ right: 10px; }
.slick-prev:before,
.slick-next:after{ font-family: 'icomoon'; font-size: 14px; font-weight: 600; color: #000;  }
.slick-prev:before{ content: '\e90f'; }
.slick-next:after{ content: '\e903'; }
.slick-dots { position: absolute; display: flex; justify-content: center; align-items: center; left: 0; right: 0; bottom: 50px;}
.slick-dots li { margin: 0 5px; }
.slick-dots li button { background: #eae5ff; font-size: 0; padding: 0; width: 14px; height: 14px; border-radius: 100%; border: 2px solid transparent; }
.slick-dots li.slick-active button{ background: #2d348f; }
.collections-slider .slick-dots{ display: none; }

/* Media */
@media(min-width: 767.98px){
  .slick-dots li button {width: 15px; height: 15px;}
}


/*find therapist styles*/
.find-therapist {padding: 50px 0;}
.find-therapist .icon-hol  {transition: all .5s; z-index: 9; width: 148px;height: 148px;display: flex;align-items: center; justify-content: center; border-radius: 100%;  font-size: 60px; line-height: normal; margin: 0 auto;}
.red-bg {background-color: #f45148;}
.blue-bg {background-color: #00adef;}
.yellow-bg {background-color: #ffc83a;}
.green-bg {background-color: #6eb82d;}
.light-pink-bg {background-color: #ffe7e7;}
.find-therapist p {font-weight: 600;}
br {display: none;}
@media(min-width: 991.98px) {
  .find-therapist {padding: 100px 0;}
  br {display: block;}
}


/*Three cards*/
.three-cards {padding: 50px 0;}
.three-cards .card {border: none;}
.bg-light-green {background-color: #def5a7;}
.three-cards h5.card-title { font-size: 25px; color: #3c3c3c; line-height: 30px;}
.three-cards .icon-hol { margin: 0 auto; padding: 50px 20px 20px; font-size: 60px; line-height: 64px;}
.three-cards .card-body { padding-bottom: 40px;}
@media(min-width: 991.98px) {
  .three-cards {padding: 100px 0;}
}

/*two blocks styles*/
.double-grids.join-double-grid {background-color: #ffffb9;}
.double-grids p {font-weight: 600;}
.double-grids {background: #dbfaf4; padding: 50px 0;}
@media(min-width: 767.98px){
  .double-grids.join-double-grid {background: -webkit-linear-gradient(right, #adfeff 50%, #ffffb9 50%);
    background: -o-linear-gradient(right, #adfeff 50%, #ffffb9 50%);
    background: -moz-linear-gradient(right, #adfeff 50%, #ffffb9 50%);
    background: linear-gradient(to right, #adfeff 50%, #ffffb9 50%);}
  .double-grids {background: -webkit-linear-gradient(right, #ffe7e7 50%, #dbfaf4 50%);
    background: -o-linear-gradient(right, #ffe7e7 50%, #dbfaf4 50%);
    background: -moz-linear-gradient(right, #ffe7e7 50%, #dbfaf4 50%);
    background: linear-gradient(to right, #ffe7e7 50%, #dbfaf4 50%);}
}
@media(min-width: 991.98px) {
  .double-grids {background: -webkit-linear-gradient(right, #ffe7e7 50%, #dbfaf4 50%);
    background: -o-linear-gradient(right, #ffe7e7 50%, #dbfaf4 50%);
    background: -moz-linear-gradient(right, #ffe7e7 50%, #dbfaf4 50%);
    background: linear-gradient(to right, #ffe7e7 50%, #dbfaf4 50%);padding: 100px 0;}
  .double-grids .easy-wrap2 { padding: 0 0 0 83px;}

}    

/*easy-therapy*/
.custom-therapy {padding: 50px 0;}
.seagreen-bg {background-color:#adfeff; }
.pink-bg {background-color: #ffd3d2;}
.bg-mustard {background-color: #ffc83a;}
.custom-therapy strong.sub-title {font-size: 20px; line-height: 25px;}
.yellow-bg {background-color: #ffffb9;}
.easy-wrap { margin-bottom: 40px;}
@media(min-width: 991.98px)  {
  .custom-therapy {padding: 100px 0;}
  .easy-wrap { margin-bottom: 0;}
}

/*therapy slider*/
.therapy-block {padding: 50px 0;}
.therapy-block .btn {min-width: auto;}
.therapy-slider .card-body  {padding: 40px 20px;   -webkit-box-shadow: 0px 1px 5px 0px rgba(119,121,117,.35); -moz-box-shadow: 0px 1px 5px 0px rgba(119,121,117,.35);  box-shadow: 0px 1px 5px 0px rgba(119,121,117,.35);}
.therapy-slider .content-hol { padding: 0 15px; margin-bottom: 20px;}
.therapy-slider .card{border-radius: 1.25rem; border: none;}
.therapy-slider .card-title, .therapy-slider .card-text {margin-bottom: 20px;}
@media(min-width: 991.98px)  {
  .therapy-slider .card-title, .therapy-slider .card-text {margin-bottom: 40px;}
  .therapy-block{padding: 100px 0;}
  .therapy-block .btn {min-width: 245px;}
}

/*Conatct us page styels*/
.contact-us-block {padding: 50px 0; background-color: #f9fafc;}
.uper-head {font-size: 14px; line-height: 20px; padding-left: 50px;}
.uper-head:before {position: absolute; content: ''; top: 50%; transform: translateY(-50%); left: 0; width: 32px; background-color: #000; height: 2px;}
.contact-us-block h1 {font-size: 30px; line-height: 34px;}
.contact-us-block .form-group { margin-bottom: 24px;}
.form-control {border: 1px solid #d7dbe8;}
.last-field {margin-bottom: 32px !important;}
@media(min-width: 767.98px)  {
}
@media(min-width: 991.98px) {
  .contact-us-block h1 {font-size: 50px; line-height: 54px;}
  .contact-us-block {padding: 100px 0;}
}
@media(min-width: 1199.98px) {
  .contact-us-block h1 {font-size: 60px; line-height: 64px;} 
}


/*Therapist page styling*/
.therapist-block {padding: 100px 0; }
.therapist-block .card {cursor: pointer; overflow: hidden; border-radius: 11px; border: 1px solid #cfcfcf;}
.therapist-block .card:hover .card-body {bottom: -150px;}
.therapist-block .card:hover .button-hol {opacity: 1;}
.therapist-block .card-body { position: absolute; bottom: 0;right: 0;left: 0; background: #fff; height: 125px; transition: all .3s;}
.therapist-block .card-body p {font-size: 16px; line-height: 21px;}
.therapist-block .card-body a {color: #000;}
.therapist-block .button-hol {position: absolute;bottom: 60px;text-align: center; right: 0;left: 0; transition: opacity 2s ease; opacity: 0;}
.therapist-block .button-hol a {color: #000; min-width: 200px; background-color: #fff !important; }
.therapist-block .button-hol a:hover {-webkit-box-shadow: -1px 6px 15px 6px rgba(251,188,152,1); -moz-box-shadow: -1px 6px 15px 6px rgba(251,188,152,1); box-shadow: -1px 6px 15px 6px rgba(251,188,152,1); color: #000 !important; background-color: rgba(251,188,152,1) !important;}
@media(min-width: 767.98px)  {
}
@media(min-width: 991.98px) {
  .therapist-block {padding: 30px 0 50px;}
}


/*Pagination style*/
.pagination-block {padding-bottom: 50px; }
.pagination { max-width: 844px; margin: 0 auto; position: relative;border: 1px solid #e2dfdf; border-radius: 0;}
.pagination .prev, 
.pagination .next {position: absolute; top: 50%;transform: translateY(-50%);width: 100px;height: 100%;padding: 0; }
.pagination .prev {left: 0;border-right: 1px solid #e2dfdf;}
.pagination .next {right: 0;border-left: 1px solid #e2dfdf;}
.pagination li {padding: 9px 7px;}
.pagination li a.page-link {margin:0;color: #000;background-color: transparent; border: none;padding: 2px 8px;width: 100%;height: 100%;display: flex;align-items: center;justify-content: center;}
.pagination li.active a.page-link,
.pagination li.active a.page-link:hover{background:#00aeef; color: #fff !important; }
.pagination li a.page-link:hover{background: #eee;color: #000 !important;}
a.page-link:focus, a.page-link:active { background: #00aeef; color: #fff;}
@media(min-width: 991.98px) {
  .pagination-block {padding-bottom: 70px; }
}


/*Blog style*/
.custom-blog .card { border-radius: 1.25rem; border: none;}
.custom-blog .card-body { font-size: 15px; line-height: 20px; padding: 40px 20px; -webkit-box-shadow: 0px 1px 5px 0px rgba(119,121,117,.35); -moz-box-shadow: 0px 1px 5px 0px rgba(119,121,117,.35); box-shadow: 0px 1px 5px 0px rgba(119,121,117,.35);}
.custom-blog .btn { min-width: 165px;}
.custom-blog .content-hol {margin-bottom: 30px;}


/*blog detail page*/
.blog-detail-block {padding: 50px 0;}
.comment-date-block .icon, .date .icon {color: #02aeef;}
.blog-detail-block label {color:#000;}
.post-hol .date {font-size: 15px; line-height: 20px; font-weight: 600;}
.blog-detail-block .leave-comment{font-size: 20px; line-height: 25px;}
.comment-date-block {padding-left: 60px; color: #b8b8b8; font-size: 15px; line-height: 20px;}
.comment-date-block:before { position: absolute; content: ''; top: 50%;  transform: translateY(-50%);  left: 0; width: 50px;  background-color: #02aeef;height: 2px;}
#search_mini_form input {    padding: 0 33px 0 10px !important; height: 50px; width: 100%;font-size: 16px; color: #58595B; font-weight: 400; position: relative;}
#search_mini_form .search-btn {  width: 48px; height: 50px;  line-height: 23px; font-size: 19px;  font-weight: 400;  border-radius: 0; position: absolute; right: 0;  border: none; color: #02aeef; background-color: transparent;}
.search-bar { padding: 20px; border: 1px solid #d7d7d7;  border-top: 4px solid #02aeef;}
.post-hol {padding: 10px; border-bottom:  1px solid #d7d7d7;}
.post-hol .img-hol img {margin: 0 auto;}
.post-nav-block { border: 1px solid #d7d7d7;     border-top: 4px solid #02aeef;}
.post-nav-block strong.post-title {font-size: 25px; line-height: 30px;}
@media(min-width: 991.98px) {
  .comment-date-block:before {width: 214px;}
  .comment-date-block {padding-left: 230px;}
  .blog-detail-block {padding: 100px 0;}
  .post-hol {padding: 25px 22px;}
}

/*trerapist-detail-block*/
.trerapist-detail-block {padding: 50px 0;}
.trerapist-detail-block h2 {font-size: 22px; font-weight: 800; line-height: 32px; font-family: 'Open Sans', sans-serif !important;  margin: 0 0 30px; color: #000;letter-spacing: 1.2px;}

@media (min-width: 767.98px){}
  .trerapist-detail-block h2  { font-size: 30px; line-height: 40px;}
}    
@media(min-width: 991.98px) {
  .trerapist-detail-block {padding: 100px 0;}
  .trerapist-detail-block h2  { font-size: 40px; line-height: 50px; margin-bottom: 35px;}
}

/* Therapists Filter CSS */
.filter-block {padding: 60px 0 0;}
.filter-block .filters label.head {border: 1px solid #f0f0f0;width: 100%;border-radius: 10px;padding: 10px 40px 10px 15px;font-size: 16px;color: #000;background: rgb(250,251,253);cursor: pointer;position: relative;}
.filter-block .filters label.head:after{content: '\e90b';font-family: icomoon;position: absolute;right: 15px;top: 50%;transform: translateY(-50%) rotate(90deg);}
.filter-block .filters .show label.head:after{transform: translateY(-50%) rotate(-90deg);}
.filter-block .filters .dropdown{border-radius: 5px; display: none;position: absolute;top: 100%;left: 0; z-index:9;background: rgb(250,251,253);width: 100%;box-shadow: 0px 1px 5px 0px rgba(119,121,117,.25);-webkit-box-shadow: 0px 1px 5px 0px rgba(119,121,117,.25);-moz-box-shadow: 0px 1px 5px 0px rgba(119,121,117,.25);}
.filter-block .filters .show .dropdown{display: block;}
.filter-block .filters .form-group{position: relative;}
.filters-submenu .submenu-dropdown{display: none;padding: 0 0 0 15px;}
.filters .dropdown ul li {border-bottom: 1px solid #f0f0f0;padding: 7px 15px;}
.filters-submenu.show .submenu-dropdown{display: block;}
.filters-submenu .submenu-dropdown li {font-size: 14px;line-height: 30px;color: #9fa4af;}
.filters-submenu a {position: relative;font-size: 14px;line-height: 20px;display: block;margin: 5px 0;}
.filters-submenu a:after {content: '\e90b';font-family: icomoon;position: absolute;right: 0;top: 50%;transform: translateY(-50%) rotate(90deg);}
.filters-submenu.show a:after{transform: translateY(-50%) rotate(-90deg);}
.filters-submenu.show a{color: #02aeef !important;}
.filter-block label{cursor: pointer;font-weight: 400;width: 100%;padding-right: 20px;}
.filters .dropdown ul.submenu-dropdown li {padding: 0;border: 0;}
.filters .form-check {display: flex;flex-wrap: wrap;align-items: center;flex-direction: row-reverse;justify-content: end;padding: 0;}
.filters-submenu.show {background: #f0f0f0;border-color: #fff !important;}



/*mental-proffessionals*/
.mental-proffessionals {padding: 50px 0;}
.mental-proffessionals strong{font-size: 25px; line-height: 40px;}
@media(min-width: 991.98px) {
  .mental-proffessionals {padding: 100px 0;}
}


/*Registration pages styles*/
.registration-block form {max-width: 500px;  margin: 0 auto;}
.input-group-prepend {position: absolute; right: 5px;top: 50%; transform: translateY(-50%);}
.registration-block .form-control { height: 50px; border: 1px solid #d7dbe8;  border-radius: .25rem !important;font-size: 15px; line-height: 20px;}
.input-group-text { background-color: transparent;}
.registration-block .input-group-prepend span { font-size: 25px;  line-height: 35px;}
.registration-block input.styled-checkbox {border-radius: 0;height: 30px; width: 30px;}
.registration-block label {color: #757575; font-size: 15px; line-height: 20px;}
.visual-banner.registration-block { padding-bottom: 0;}
.registration-block h1 {font-size: 30px; line-height: 35px;}
.registration-block p {font-size: 25px; line-height: 30px;}
.not-account p {font-size: 15px; line-height: 20px;}
.not-account p a {color: #02aeef;}
@media(min-width: 767.98px){
  .visual-banner.registration-block { padding-top: 120px;}
}


/*Footer CSS*/
.footer-block {padding: 50px 0 0; border-bottom: 1px solid #586673;}
#footer{ background-color: #465461; color: #fff;}
#footer h1 {color: #fff;}
#footer li a {color: #fff;}
.social-media li a {margin: 0 10px;font-size: 20px;line-height: normal;}
.subscribe { border-radius: 31px; position: relative; padding: 0 146px 0 1px;  max-width: 700px; margin: 0 auto;}
.subscribe .actions { top: 0; right: 0; bottom: 0; width: 146px; border-radius: 0 30px 30px 0; position: absolute;}
.form-group {margin-bottom: 0;}
.subscribe .form-control {border: 0;color: #495057; padding: 20px 15px; border-radius: 30px 0 0 30px;margin-bottom: 0; background-color: #fff;}
.subscribe .actions .btn-action { transition: all .3s; top: 0; right: 0; bottom: 0; border: 0; width: 100%;  padding: 0; color: #fff; cursor: pointer; position: absolute; background: #02aeef; text-transform: capitalize; border-radius: 0 30px 30px 0; font: 500 20px/22px 'Open Sans', sans-serif;}
.subscribe .actions .btn-action:hover {background-color: #000;}
.footer-content { font-size: 14px;line-height: 20px;}
.social li a{ width: 30px; height: 30px; border-radius: 100%; text-align: center;border: 1px solid #fff; display: inline-block;font-size: 14px; line-height: 28px;  margin-left: 20px;}
/*Media*/
@media(min-width: 991.98px){
  .footer-block{padding-top: 100px;padding-bottom: 15px;}
  #footer .footer-navbar li a {margin: 0 30px 0 0;     padding: 0;}
}